.grid-row-top {
    border-top: 1px solid #000000;
}

.grid-row-bottom {
    border-bottom: 1px solid #000000;
    margin-bottom: 15px;
}

.grid-col-left {
    border-left: 1px solid #000000;
}

.grid-col-right {
    border-right: 1px solid #000000;
    margin-right: 15px;
}

.cell {
    text-align: center;
    font-size: 24px;
    width: 36px;
    height: 36px;
}

.cell-crosshair {
    background-color: #f3f3f3;
}

.cell:focus {
    background-color: #dcdcdc;
}

.cell-active {
    transition: background-color 1s ease;
    background-color: #8ECD47;
}

.cell-inspect {
    transition: background-color 1s ease;
    background-color: #cd6fb0;
}