<div layout="column">
    <div layout="row" ng-repeat="row in config.rows">
        <div ng-class="{'grid-col-left': ((col % 3) == 0),'grid-col-right': ((col % 3) == 2), 'grid-row-top': ((row % 3) == 0),'grid-row-bottom': ((row % 3) == 2)}" ng-repeat="col in config.cols">
            <cell row="row" col="col"></cell>
        </div>
    </div>
</div>

