<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="vendor/angular-material/angular-material.css" />
    <link rel="stylesheet" href="assets/style.css" />

    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-aria/angular-aria.js"></script>
    <script src="vendor/angular-material/angular-material.js"></script>

    <script src="app/app.js"></script>
    <script src="app/controllers/index.js"></script>
    <script src="app/directives/index.js"></script>
    <script src="app/services/index.js"></script>
    <script src="app/services/solver.js"></script>
    <script src="app/services/generator.js"></script>

</head>
<body ng-app="sudoku" ng-controller="AppCtrl" layout="column">

<section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Sudoku Material</h1>
        </md-toolbar>
        <md-content layout-padding>
            <md-button ng-click="close()" class="md-primary" hide-gt-md>
                Close Sidenav Left
            </md-button>
            <p hide-md show-gt-md>
                Solves every sudoku!!
            </p>
        </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
        <div layout="column" layout-fill layout-align="top center">
            <grid config="grid"></grid>
            <div>
                <md-button ng-click="solveGrid()" class="md-raised md-primary">
                    Solve
                </md-button>
                <md-button ng-click="resetGrid()" class="md-raised md-primary">
                    Reset Grid
                </md-button>
                <md-button ng-click="testGrid()" class="md-raised md-primary">
                    Test Grid
                </md-button>
                <md-button ng-click="testGridHard()" class="md-raised md-primary">
                    Hard Test Grid
                </md-button>
            </div>

        </div>
        <div layout="row" layout-sm="column" layout-align="space-around">
            {{ grid.solvedCells }} / {{ max }} = {{(grid.solvedCells / max) * 100 | number : 0}}
            <md-progress-circular md-mode="determinate" value="{{(grid.solvedCells / max) * 100 | number : 0}}"></md-progress-circular>
        </div>
        <md-switch class="md-accent" ng-model="config.crosshair" aria-label="Show crosshair">
            Show Crosshair
        </md-switch>
    </md-content>
</section>

<!--
<div>
    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
        Checkbox 1: {{ data.cb1 }}
    </md-checkbox>
</div>
<div layout layout-sm="column">
    <md-input-container flex>
        <label>First name</label>
        <input ng-model="user.firstName">
    </md-input-container>
    <md-input-container flex>
        <label>Last Name</label>
        <input ng-model="theMax">
    </md-input-container>
</div>
-->



</body>
</html>